@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MonumentExtended';
  src: url(/monument_extended_font/MonumentExtended-Regular.otf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'MonumentExtended';
  src: url(/monument_extended_font/MonumentExtended-Ultrabold.otf);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'PPTelegraf';
  src: url(/pptelegraf_font/PPTelegraf-UltraLight.otf);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'PPTelegraf';
  src: url(/pptelegraf_font/PPTelegraf-Regular.otf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'PPTelegraf';
  src: url(/pptelegraf_font/PPTelegraf-UltraBold.otf);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

.monument {
  font-family: 'MonumentExtended', Arial, sans-serif;
}
.pptelegraf {
  font-family: 'PPTelegraf', sans-serif, Arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

body {
  @apply bg-black leading-normal
}
